@model LigaTabajara.Models.Jogador

@{
    ViewBag.Title = "Excluir Jogador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5" style="max-width: 700px">
    <h2 class="text-center mb-4 text-danger">Tem certeza que deseja excluir este jogador?</h2>

    <div class="card shadow p-4">
        <h4 class="mb-3">Detalhes do Jogador</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Time)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Time.Nome)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Nome)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DataNascimento)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DataNascimento)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Nacionalidade)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Nacionalidade)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Posicao)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Posicao)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.NumeroCamisa)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.NumeroCamisa)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Altura)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Altura)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Peso)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Peso)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PePreferido)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.PePreferido)</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="d-flex justify-content-between mt-4">
                <input type="submit" value="Excluir" class="btn btn-danger" />
                @Html.ActionLink("Voltar para a Lista", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
</div>
