@model IEnumerable<LigaTabajara.Models.ComissaoTecnica>

@{
    ViewBag.Title = "Comissão Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comissão Técnica</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create", null, new { @class = "btn btn-primary" })
</p>

<!-- Formulário de filtro -->
@using (Html.BeginForm("Index", "ComissaoTecnicas", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6">
            <label for="searchCargo" class="form-label">Cargo</label>
            @Html.DropDownList("searchCargo", ViewBag.CargoList as IEnumerable<SelectListItem>, new { @class = "form-control", onchange = "this.form.submit()" })
        </div>
    </div>
}

<table class="table table-bordered mt-3">
    <tr class="text-center">
        <th>Nome</th>
        <th>Cargo</th>
        <th>Data de Nascimento</th>
        <th>Time</th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@Html.DisplayFor(modelItem => item.Nome)</td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.Cargo)</td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.DataNascimento)</td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.Time.Nome)</td>
            <td class="text-center">
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning me-1" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info me-1" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger me-1" })
            </td>
        </tr>
    }
</table>