@model IEnumerable<LigaTabajara.Models.Time>

@{
    ViewBag.Title = "Liga Tabajara";
}

<div class="jumbotron text-center">
    <h1>Bem-vindo à Liga Tabajara de Futebol</h1>
    <p>A maior competição de futebol do Brasil, com 20 times disputando o título em 38 rodadas emocionantes!</p>
</div>

<h2 class="text-center mb-4">Times da Liga</h2>

<div class="row">
    @foreach (var time in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@time.Nome</h5>
                    <p class="card-text">
                        <strong>Cidade:</strong> @time.Estado<br />
                        <strong>Estádio:</strong> @time.Estadio (Capacidade: @time.CapacidadeEstadio)<br />
                        <strong>Cor do Uniforme:</strong> @(time.CorUniforme == 0 ? "PRIMARIA" : "SECUNDARIA")<br />
                        <strong>Status:</strong> <span class="badge @(@time.Status == LigaTabajara.Models.Status.APTO ? "bg-success" : "bg-danger")">@time.Status</span>
                    </p>
                    <a href="@Url.Action("Details", "Times", new { id = time.Id })" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
    }
</div>